@mixin round-button {
  padding: 17px 32px 14px 32px;
  background-color: $round-btn-bg;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 25.2px;
}

@mixin border-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid $border-button-color;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 25.2px;
}
